.nav-bar {
  padding: 0 10px;
  height: 50px;
  background-color: #011627;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav-bar .nav-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 100px; }
    .nav-bar .nav-button a {
      vertical-align: center;
      text-decoration: none;
      font-weight: bold;
      color: white; }
    .nav-bar .nav-button a:after {
      content: "";
      display: block;
      margin-top: 1px;
      height: 2px;
      align-self: center;
      background: none repeat scroll 0 0 #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .nav-bar .nav-button a:hover:after {
      width: 100%;
      left: 0; }

.table-main {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .table-main .table-row:hover {
    background-color: #d1d1d1;
    border-radius: 2px;
    cursor: pointer; }
  .table-main .table-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1; }
    .table-main .table-row .table-cell {
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1; }
    .table-main .table-row .table-cell:nth-child(1) {
      flex-grow: 0.5; }

.breadcrumbs-main {
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 15px; }
  .breadcrumbs-main .crumb {
    display: flex;
    flex-direction: row; }
    .breadcrumbs-main .crumb div {
      padding: 2px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.players-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
